
h1 span.split {
    display: inline-block; /* indispensable pour permettre "transform" */
    transition: all 0.3s cubic-bezier(0.2, 1, 0.3, 1);
}

h1 span.split.hidden {
    opacity: 0;
    transition: all 0s;
    transform: translateX(-30px);
}

h1 span.split.step-0 {
    color: white;
}
h1 span.split.step-1 {
    color: blue;
}
