@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(anim.css);

/* reset */
body, body * {
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

body {
    height: 100vh;
}
main, canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans Condensed', sans-serif;
}
h1 {
    text-align: center;
    font-size: 120px;
    font-weight: 900;
    font-style: italic;
    line-height: 1em;
}
